<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ZMAP</title>
    {% endif %}

    <script src="/static/sorttable.js"></script>
  </head>
  <body>
    <div class="navbar">
      ZMAP: 
      <a href="/index">Home</a> | 
      <a href="/standings">Standings</a> | 
      <a href="/scoring">Scoring</a> | 
      <a href="/managers">Managers</a> | 
      <a href="/draft">Draft Prep</a> | 
      <a href="/history">History</a> | 
      <a href="/updates">Updates</a>
    </div>
    <hr class="navbar" color=#D02020>
    <hr class="navbar" color=#D07020>
    <hr class="navbar" color=#108080>
    {% block content %} 
    {% endblock %}
  </body>
</html>
