<html>
  <head>
    <style>
      body{
        font-family: courier;
        background-color: rgb(150, 150, 150);
      }
      table, td, tr {
        background-color: white;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 5px;
      }
      th {
        background-color: gray;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        font-size:100%;
        padding: 5px;
      }
    </style>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ZMAP</title>
    {% endif %}

    <script src="/static/sorttable.js"></script>
  </head>
  <body>
    <div>
      ZMAP: 
      <a href="/index">Home</a> |
      <a href="/scoring">Scoring</a> |
      <a href="/draft">Draft Prep</a> | 
      <a href="/managers">Managers</a> | 
      <a href="/standings">Standings</a> |
      <a href="/updates">Updates</a>
    </div>
    <hr>
    {% block content %} {% endblock %}
  </body>
</html>
