{% extends "base.html" %}
{% block content %}
<h1>Team Overview</h1>

<p class="question">Q: "How do I use this cheatsheet?"</p>
<p class="answer">A: Figure out what kind of teams you like, then look up that info in the table.</p>
<p class="question">Q: "I still don't understand."</p>
<p class="answer">A: Look at the examples below. Also, that's not a question.</p>

<h3>Team Information</h3>
<p class="quicklink">To see ratings for each team, click <a href='/draft'>HERE</a>.
<br><br>
<table class='sortable'>
  <thead><tr>
    <th>{{ header[4] }}</th>
    <th colspan='2'>Colors</th>
    <th>{{ header[6] }}</th>
    <th>{{ header[7] }}</th>
    <th>{{ header[8] }}</th>
  </tr></thead>
  <tbody>
  {% for team in teams %}
  <tr>
    <td>{{ team[3] }} {{team[4] }}</td>
    <td class="color1" style="background-color:{{ team[0] }}; color:{{ team[0] }};">-</td>
    <td class="color2" style="background-color:{{ team[1] }}; color:{{ team[1] }};">-</td>
    <td>{{ team[5] }} {{ team[6] }}</td>
    <td>{{ team[7] }}</td>
    <td>{{ team[8] }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


<h3>Examples:</h3>
<p class="question">I like to watch strong men hit baseballs into the stratosphere.</p>
<p class="answer">Choose teams that have high scores (3 or 4 stars) in the "Power" column. Additionally, check out teams that play their home games in a hitter-friendly ballpark.</p>
<p class="example">Blue Jays, Orioles, Astros, Rockies, Reds</p>

<p class="question">I like to watch dominant pitching performances because I'm a snooty purist.</p>
<p class="answer">Choose teams that have high scores (3 or 4 stars) in the "Pitching" column. Additionally, check out teams that play their home games in a pitcher-friendly ballpark.</p>
<p class="example">Mets, Dodgers, Indians, Mariners, Padres</p>

<p class="question">I want to watch teams that will be relevant in the playoffs.</p>
<p class="answer">Choose teams that have high scores (3 or 4 stars) in the "Success" column.</p>
<p class="example">Nationals, Cardinals, Rangers, Yankees, Red Sox</p>

<p class="question">I like to watch good fundamental defense because my dad says defense wins championships.</p>
<p class="answer">Choose teams that have high scores (3 or 4 stars) in the "Fielding" column. Also, tune in to the WNBA from June-October!</p>
<p class="example">Royals, Giants, Rays, Marlins, Angels</p>

<p class="question">I like to watch one player carry the team because I'm a millenial who only cares about personal glory.</p>
<p class="answer">Choose teams that have high scores (3 or 4 stars) in the "Superstar" column.</p>
<p class="example">Clayton Kershaw, Chris Sale, Mike Trout, Giancarlo Stanton+Jose Fernandez, Zack Greinke+Paul Goldschmidt</p>

<p class="question">I care too much about aesthetics and want all my teams to match.</p>
<p class="answer">Choose Red+Blue teams. These is by far the most common color scheme in the MLB.</p>
<p class="example">Cubs, Red Sox, Indians, Rangers, Braves</p>

<p class="question">I lead a busy life and don't have time to watch teams that aren't in primetime.</p>
<p class="answer">Focus on teams in your time zone. If you're on the East Coast, Pacific teams usually won't start until 10PM EST. If you're on the West Coast, Eastern teams will usually start at 4PM PST. If you don't plan to actually watch any games this year, you're a terrible person and you can ignore this.</p>

<p class="question">I'll watch my favorite team sometimes, but I'm probably not going to watch any other games.</p>
<p class="answer">Choose teams from the same division as your favorite team. You'll play these opponents more often during the season, so there's a greater likelihood you'll get to see your teams in action, without even trying.</p>


{% endblock %}