{% extends "base.html" %}
{% block content %}
  <h1>ZMAP -- Baseball Edition</h1>

  <h3>Overview:</h3>
  <p>After the informal dissolution of our inaugural fantasy league (about 20 minutes into our inaugural fantasy season), I've traced the failure back to three key sources -- namely, Zachary, Maxwell, and James Patrick. Maybe it's because you didn't have enough time to set your rosters 182 consecutive days. Maybe it's because you knew that you didn't stand a chance against my roster full of burgeoning superstars. Maybe it's because your brains are defective and you just aren't capable of understanding how much fun fantasy baseball is. Regardless, I've taken it upon myself to create an entirely new type of fantasy baseball -- one that requires minimal effort, minimal time, and minimal skill. In fact, reading to the end of this page will constitute about ~25% of the total effort you'll need to expend on this league all season.</p>
  
  <h3>League Goals:</h3>
  <ol>
    <li>Objectively determine which member of our friend group is the best.</li>
    <li>Design a scoring system that makes baseball more exciting (or, at the very least, less boring). Scoring focuses on exciting/interesting events, including some that aren't correlated with the success of your team.</li>
    <li>I need to learn how to code. Like, badly. So I'm setting up this league as a coding exercise and will be using it as an excuse to code badly over the course of the season. Expect lots of new features. You know, unless I get a job or something.</li>
  </ol>

  <h3>Format:</h3>
  <ul>
    <li>Each manager drafts five teams (including hometown/favorite team)</li>
    <li>Scoring is designed to reflect the relative excitement of a given event. Striking out is -1, hitting a triple is +50, hitting an inside-the-park-homerun is +500. A full list of scoring events can be found <a href='/scoring'>HERE</a></li>
    <li>Scoring is designed to be relatively balanced among teams so there's no penalty for liking a terrible team (AKA the Padres).</li>
    <li>I'll update the standings towards the end of every month, although the plan is to eventually automate scoring. If you score the most points but don't check the final standings, you're not the champion and the rest of us get to make fun of you behind your back until the next sports season starts.</li>
  </ul>
{% endblock %}
