{% extends "base.html" %}
{% block content %}
  <h1>ZMAP -- Baseball Edition</h1>

  <h3>Overview:</h3>
  <p>
  It's a tale as old as time. Young, virile men showcasing their physical strength and athletic prowess in an attempt to woo prospective mates. And, in those rare instances where the men are found lacking physical strength and athletic prowess, we default to competitions of "who can best predict the success of the gifted superstars who don't even know we exist?"
  <br><br>
  After the informal dissolution of our inaugural fantasy league (about 20 minutes into our inaugural fantasy season), I've traced the failure back to three key sources -- namely, Zachary, Maxwell, and James Patrick. Maybe it's because you didn't have enough time to set your rosters 182 consecutive days. Maybe it's because you knew that you didn't stand a chance against my roster full of burgeoning superstars. Maybe it's because your brains are defective and you just aren't capable of how much fun fantasy baseball is. Regardless, I've taken it upon myself to create an entirely new type of fantasy baseball -- one that requires minimal effort, minimal time, and minimal skill. In fact, reading to the end of this page will constitute about ~25% of the total effort you'll need to expend on this league all season.</p>
  
  <h3>Goals:</h3>
  <p>
  <strong>1/</strong> Objectively determine which member of our friend group is the best.
  <br><br>
  <strong>2/</strong> Design a scoring system that makes baseball more exciting (or, at the very least, less boring). Scoring focuses on exciting/interesting events, including some that aren't correlated with the success of your team.
  <br><br>
  <strong>3/</strong> I need to learn how to code. Like, badly. So I'm setting up this league as a coding exercise and will be using it as an excuse to code badly over the course of the season. Expect lots of new features. You know, unless I get a job or something.
  </p>

  <h3>Format:</h3>
  <p>
  -- In order to reduce the amount of time required to prep/draft/maintain your roster, we're switching from a player-based league to a team-based league. The six of us will each draft five teams, and there's no need to add/drop/trade teams over the course of the year. The draft shouldn't take more than 30 minutes, despite the fact that we will (and should!) be fairly hammered before the draft even starts.
  <br><br>
  -- Scoring is based on the idea of "when I turn on a baseball game, what do I want to see the batter/pitcher/fielder do?" Rarer events earn more points. If your pitcher strikes out a batter, that's +1. If your batter hits an inside-the-park home run, that's +500. The scoring system is robust enough that you should have something to root for regardless of who your team is playing or what the score is.
  <br><br>
  -- Scoring is expected to be fairly balanced between teams over the course of the season. There will be some teams that score ~10% more/less than average, but the league is specifically designed so that each team's fantasy success isn't reliant on their actual success. Rather than picking perennial contenders that you don't actually like watching (AKA the fucking Cardinals), you should draft teams that you think are mildly interesting and wouldn't mind watching on TV a few times this season. Think of it like buying a lottery ticket: you COULD try to come up with a complicated strategy to try and beat the system, but it's probably more fun to just pick your favorite numbers and hope that they're lucky.
  <br><br>
  -- Keeping with our theme of "I don't care about baseball; please just let me live my life in peace," I will keep scoring updates to a minimum. Right now, the plan is to send out a scoring update at the end of every month, but that might change if I can figure out how to automate the process. Zachary, Maxwell, and James Patrick are legally required to respond to each scoring update within 48 hours and feign the appropriate amount of enthusiasm/disdain about their score; Matthew and Christopher are not required to pay attention but are certainly welcome to. The final scoring update (at the conclusion of the season) will only be made available upon request. If you win the league but don't realize it, you forfeit your championship and the rest of us will make fun of you behind your back.
  </p>

  <p>Link to scoring events <a href='/scoring'>HERE</a>.
{% endblock %}
