{% extends 'base.html' %}
{% block content %}
<h1>Scoring Events</h1>
  <h3>Batting</h3>
  {% for event in events %}
    {% if event[0] == 'Batting' %}
    <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
  {% endfor %}
  <h3>Baserunning</h3>
  {% for event in events %}
    {% if event[0] == 'Baserunning' %}
      <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
  {% endfor %}
  <h3>Pitching</h3>
  {% for event in events %}
    {% if event[0] == 'Pitching' %}
      <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
  {% endfor %}
  <h3>Fielding</h3>
  {% for event in events %}
    {% if event[0] == 'Fielding' %}
      <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
  {% endfor %}
  <h3>End-of-Season</h3>
  {% for event in events %}
    {% if event[0] == 'End of Season' %}
      <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
  {% endfor %}
  <h3>Bonus</h3>
  {% for event in events %}
    {% if event[0] == 'Bonus' %}
      <p title="{{ event[3] }}">{{ event[1] }} ({{ event[2] }})</p>
    {% endif %}
    {% endfor %}
{% endblock %}
