{% extends "base.html" %}
{% block content %}

<h1>Standings</h1>

<table>
  <thead>
    <tr>
      <th class="manager_header">Manager</th>
      <th class="score_header">Score</th>
      <th class="teams_header" colspan='10'>Teams</th>
     </tr>
  </thead>

  <tbody>
    {% for manager in full_scores %}
    <tr>
      <td class="manager_name">{{ manager[0] }}</td>
      <td class="manager_score">{{ manager[1] }}</td>
      {% for team in manager[2] %}
      <td class="team_name">{{ team[0] }}</td>
      <td class="team_score">{{ team[1] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3 class="latest">Standings as of: {{ latest_date }}</h3>

{% endblock %}