{% extends "base.html" %}
{% block content %}

<h1>ZMAP Updates:</h1>

<p style='background-color:yellow;'>2016-04-01
<br> The inaugural ZMAP draft will take place in New York City the first weekend of April. Refreshments will be served.</p>

<p style='background-color:white;'>2016-03-30
<br> Welcome to the league! We're currently dealing with a bare-bones site because I'm bad at coding and needed to get it up before the draft. Check back periodically to see what sort of cool stuff I add. It'll mostly be pictures of Pokemon.</p>

<p style='background-color:white;'>2016-03-21
<br> Oh, hey, look, I'm online! Cool beans. </p>

{% endblock %}